.super{
  color: #990000;
}
.logo{
  font-weight: 600;
}
.slide1 {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(./images/slide-1.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.slide2 {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(./images/slide-2.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}